{% extends 'layout.html' %}

{% block title %}Dashboard • Network Command{% endblock %}

{% block body %}
  <h1>Dashboard</h1>
  <h4>Welcome {{session.name}}</h4>
  <!--<a class="btn btn-success" href="/switch/add"> Add Switch</a>-->
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>IP Address</th>
      <th>Location</th>
      <th><div class="pull-right">Actions</div></th>
    </tr>
    {% for switch in switches %}
    {% set addressURL = switch.ipAddress|replace(".", "%2E") %}
      <tr>
        <td>{{switch.name}}</td>
        <td>{{switch.ipAddress}}</td>
        <td>Datacenter: {{switch.location['datacenter']}}, Rack: {{switch.location['rack']}}, U: {{switch.location['u']}}</td>
        <td><a href="{{url_for('conf_switch', ip=switch.ipAddress)}}" class="btn btn-primary pull-right">Configure</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}